*{
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

h1{
  text-align: center;
}
.greeting{
  margin-right: 20px;
}
.navbar {
  margin-bottom: 50px;
  padding: 40px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff69b4;
}

.logout-btn {
  margin-right: 15px;
  text-decoration: none;
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #d454a4;
}
.img-div{height: 50px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.image-container{
  width: 50px;
  height: 50px;
}
.reactions{
  margin: 30px;
  text-align: left;
}
.reactions a{
  text-decoration: none;
  margin-right: 5px;
}
i{
  font-size: 35px;
}
.profile-image {
  width: 100%; /* Adjust according to your design */
  height: 100%; /* Adjust according to your design */
  border-radius: 50%; /* Ensures the image is circular */
}
.posts-container,.nav-container,.button-container{
  text-align: center; /* Center the posts horizontally */
  max-width: 768px;
  margin:0 auto ;
}
.post {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Hide overflowing content */
  margin:20px 0; /* Add margin between posts */
  display: inline-block; /* Display posts inline */
}
.post img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-bottom: 1px solid #ddd; /* Add a border at the bottom of the image */
}
.user_name{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: black;
  padding: 15px;
  margin: 0;
}
.content{
  font-weight: lighter;
}
.post_head{
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  color: black;
  /* padding: 10px; */
  margin-top:20px ;
}
.like-count-container{
  margin-right: 10px;
}
.commentbox{
  display: none;
  padding: 10px;
}
.comment{
  display: flex;
}
.commentor{
  font-weight: 900;
  margin-right: 10px;
}
.bold{
  font-weight: 900;
  margin-top: 10px;
}
.comment-text {
  font-size: 20px;
  height: 30px;
  width: 90%; 
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.all-comments-div{
  margin-top: 20px;
}
.all-comments-div .comment{
  font-size: 20px;
  margin-bottom: 5px;
}
.comment-text {
  /* Add styling for the comment text field */
  flex: 1; /* This allows the text field to grow and fill the available space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add some space between the text field and the share button */
}
#load-more-btn{
  text-align: center;
  text-decoration: none;
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding:16px 30px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}