body {
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  width: 500px;
}

.form {
  max-width: 100%;
}

.form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.form-group input[type="text"] {
  width: calc(100% - 20px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 20px;
}
.form-group input[type="password"] {
  width: calc(100% - 70px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 20px;
}
.google-login{
  text-align: center;
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 96%;
  height: auto;
  transition: background-color 0.3s;
}
.error {
  color: red;
  margin-top: 5px;
  font-size: 0.9em;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}
.hello-message {
  font-size: 25px;
}
textarea{
  font-size: 20px;
}
.link{
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.link:hover{
  background-color: #0056b3;
}